@tailwind base;
@tailwind components;
@tailwind utilities;


svg {
    fill: currentColor;
}

.scrol-area-viewport>:first-child {
    height: 100%;
}

.navbar .logo{
    text-shadow: 2px 2px 1px #ffffff;
}


.table-responsive thead {
    display: none;
}

.table-responsive tr {
    display: block;
    margin-bottom: .5em;
}

.table-responsive td {
    display: block;
    position: relative;
    padding-left: 50%;
    text-align: left;
    min-height: 30px;
    line-height: 30px;
}

.table-responsive td:not(.actions)::before {
    position: absolute;
    content: attr(data-label) ' : ';
    width: 50%;
    left: 0;
    text-align: right;
    padding-right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-open{
    opacity:1;
    height: auto;
    transform: translateY(0);
}

.menu-close{
    opacity:0;
    height: 0;
    transform: translateY(-10%);
}

.parent.active .child {
    opacity: 1;
    height: auto;
    overflow: none;
    transform: translateY(0);
}

.child {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transform: translateY(-10%);
}


@media (min-width: 640px) {

    .table-responsive thead {
        display: table-header-group;
        vertical-align: middle;
    }

    .table-responsive tr {
        display: table-row;
    }
    
    .table-responsive td, .table-responsive th {
        display: table-cell;
        padding: 1px;
        text-align: left;
    }
    
    .table-responsive td::before {
        display: none;
    }

}

@media (min-width: 768px) {

    .menu-close, .menu-open{
        opacity:1;
        height: auto;
        transform: none;
    }

}


@layer components {

    body{
        @apply text-slate-600 bg-slate-200
    }

    a{
        @apply text-slate-600
    }

    .btn{
        @apply text-center uppercase tracking-wide py-1 border rounded cursor-pointer transition duration-500 bg-size-200 bg-pos-0 hover:bg-pos-100
    }

    .btn-default{
        @apply text-slate-500 hover:text-slate-700 border-slate-400  bg-gradient-to-tl from-slate-300 via-slate-200 to-slate-100 
    }

    .btn-primary{
        @apply text-slate-200 hover:text-white border-blue-800 bg-gradient-to-tl from-blue-700 via-blue-600 to-blue-500 
    }

    .breadcrumb a, .breadcrumb a:hover span{
        @apply text-sm text-slate-500 hover:text-blue-800
    }

    .breadcrumb span{
        @apply text-slate-500
    }



    .table-responsive thead tr{
        @apply border-b-2 border-slate-400 bg-white
    }

    .table-responsive thead th{
        @apply p-2 uppercase text-sm
    }

    .table-responsive tbody td::before{
        @apply uppercase text-sm font-bold
    }

    .table-responsive tbody td{
        @apply sm:pl-2
    }

    .table-responsive tbody tr{
        @apply border border-slate-400 sm:border-0
    }

    .table-responsive tbody tr td:nth-child(odd){
        @apply bg-slate-100 sm:bg-transparent border-b border-slate-200
    }

    .table-responsive tbody tr td:nth-child(even){
        @apply bg-white sm:bg-transparent border-b border-slate-200
    }

    .table-responsive tbody tr:nth-child(odd){
        @apply sm:bg-slate-100
    }

    .table-responsive tbody tr td:first-child{
        @apply sm:w-[50px]
    }

    .table-responsive td.actions {
        @apply p-0 sm:w-[100px]
    }

    .table-responsive .btn-box {
        @apply flex justify-center items-center gap-1 px-1 py-3 sm:py-1 sm:justify-start
    }

    .table-responsive .btn-edit {
        @apply w-[30px] h-[30px] leading-none p-1 border border-green-600 rounded-sm text-green-600 hover:text-green-700 hover:bg-green-200
    }

    .table-responsive .btn-delete {
        @apply w-[30px] h-[30px] leading-none p-1  border border-red-600 rounded-sm text-red-600 hover:text-red-700 hover:bg-red-200
    }

}