@tailwind base;
@tailwind components;
@tailwind utilities;


svg {
    fill: currentColor;
}

.scrol-area-viewport>:first-child {
    height: 100%;
}

.navbar .logo{
    text-shadow: 2px 2px 1px #ffffff;
}

.box{
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    word-wrap: break-word;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
    background-color: #2b384a;
}

@layer components {

    body{
        @apply text-slate-600 bg-slate-200
    }

    a{
        @apply text-slate-600
    }

}

@layer components {

    .table-responsive{
        @apply w-full text-sm border-t border-slate-300
    }

    .table-responsive thead {
        @apply hidden sm:table-header-group
    }

    .table-responsive tr{
        @apply  border-b border-slate-300 rounded hover:bg-slate-100
    }

    .table-responsive tr{
        @apply sm:table-row sm:border-t-0
    }

    .table-responsive th, .table-responsive td{
        @apply text-start sm:first:w-[50px] sm:last:w-[80px] px-1 
    }

    .table-responsive th{
        @apply py-3 bg-slate-300 text-slate-700
    }

    .table-responsive td{
        @apply py-1 block relative pl-[calc(30%+10px)] hover:bg-slate-100
    }

    .table-responsive td{
        @apply sm:table-cell sm:pl-1
    }

    .table-responsive td::before{
        @apply content-[attr(data-label)] absolute top-0 left-0 w-[30%] h-full flex justify-end items-center pe-3 text-right font-bold bg-slate-200 text-slate-700
    }

    .table-responsive td::before{
        @apply sm:hidden
    }

   .btn-box {
        @apply flex justify-start items-center gap-1
    }

    .btn-box .btn-edit {
        @apply w-[30px] h-[30px] leading-none  rounded-sm text-green-600 hover:text-green-700 hover:bg-green-200
    }

    .btn-box .btn-delete {
        @apply w-[30px] h-[30px] leading-none  rounded-sm text-red-600 hover:text-red-700 hover:bg-red-200
    }

}