@tailwind base;
@tailwind components;
@tailwind utilities;


svg {
    fill: currentColor;
}

.scrol-area-viewport>:first-child {
    height: 100%;
}

.navbar .logo{
    text-shadow: 2px 2px 1px #ffffff;
}

.box{
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    word-wrap: break-word;
}


@layer components {

    body{
        @apply text-slate-600 bg-slate-200
    }

    a{
        @apply text-slate-600
    }

}